@import url(https://fonts.googleapis.com/css?family=Roboto|Poiret+One|Lobster|Limelight|Sansita+One|Roboto+Slab:300|Montez);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700|Kanit:400,800);

body {
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /*background: #24C6DC; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
main {
  margin-top: 25px;
}

/* EXTRAS */
.teamBrand {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px cyan;
  color: #1a237e;
  border: 2px solid cyan;
  padding: 3px;
  background-color: #cfd8dc;
}

/* NAVBAR STYLES */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}
.nav {
    
}
.nav li a {
    color: white;
    font-family: 'Poiret One', monospace;
    font-weight: bolder;
    font-size: 1.1em;
}
.nav li a:hover {
    color: white;
    background-color: black;
}
.nav li a:visited {
    background-color: black;
}
.dropdown-toggle:visited {
    background-color: black;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
}
.dropdown-menu:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.dropdown-toggle {
    background-color: black;
    color: black;
}
.dropdown-toggle:visited {
    background-color: black;
}
.dropdown-toggle:active {
    background-color: black;
}
.dropdown-toggle:hover {
    background-color: black;
}
.dropdown {
    background-color: black;
}
.dropdown:active {
    background-color: black;
}
.collapsed {
    background-color: black;
}
.icon-bar {
    background-color: white;
}
.custom-toggle:active {
    background-color: black;
    color: blanchedalmond;
}
.staffOnly {
    color: red;
}




.panel-heading {
  background-color: black;
}
.panel-body {
  background-color: white;
  color: #1a237e;
  font-family: 'Dosis', cursive;
  font-size: 1.2em;
  width: 100%;
}
.panel-title {
  color: cyan;
  font-family: 'Lobster', fantasy;
  font-size: 1.3em;
}

/* GALLERY STYLES */
/* NEWS TEMPLATE STYLES */
/* MEDIA QUERIES */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) 
@media (min-width: 320px) {
  .homeDiv h1 {
    font-size: 2.8em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color:#1a237e;
    text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  }

  .homeDiv h5 {
    font-size: 1.7em;
    text-align: center;
    font-family: 'Montez', monospace;
    color: orange;
    text-shadow: black 2px 2px 1px;
    font-weight: bold;
  }

  .homeDiv p {
    font-size: 15px;
  }
  .logoImage {
    width: 80px;
    height: 100px;
    margin-left: 29%;
  }
}
*/


/* -------------------------------------   HOME STYLES PAGE  -----------------------------------------*/ 
/* JUMBOTRON */
.jumboDiv{
  padding: 0px 20px 0px 20px;
}
.jumbotron {
  background-image: url('../img/jumboPic.jpg');
  background-position: 10% 60%;
}

.jumbotron h1 {
  font-size: 4.7em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color:red;
  text-shadow:2px 2px 0 white, 4px 4px 0 black;
}
.jumbotron h4 {
  font-size: 2.4em;
  text-align: center;
  font-family: 'Montez', monospace;
  color: white;
  text-shadow: black 2px 2px 1px;
  font-weight: bold;
}
.jumbotron p {
    text-align: center;
}
.btn-info {
    background-color: black;
    color: cyan;
}
.btn-info:hover {
    background-color: cyan;
    color: black;
}

/* second section */
.secondRow {
    padding-top: 25px;
    padding-bottom: 25px;    
}
.innerDiv {
    text-align: center;
}
.innerDiv h2 {
  font-size: 2.2em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: red;
  text-shadow:2px 2px 0 white, 4px 4px 0 black;
  margin-top: 5px;
  padding-bottom: 10px;
}
.innerDiv h5 {
  font-size: 1.3em;
  line-height: 1.4em;
  text-align: left;
  font-family: 'Kanit', monospace;
  color: black;
  /*text-shadow: 1px 1px 1px orange;*/
  font-weight: 500;
  padding-top: 10px;
}
.imgSize {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/* second section end */


/* NEWS SECTION 3 */
.newsDiv {
    padding-bottom: 25px;
}
.newsDiv img {
    height: 60px;
}
.newsDiv h2 {
  font-size: 2.2em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: red;
  text-shadow:2px 2px 0 white, 4px 4px 0 black;
  margin-top: 20px;
  padding-bottom: 5px;
}
.newsGroup {
    color: white;
}
.list-group-item {
    background-color: #1a237e;
    font-family: 'Kanit', monospace;
    font-size: 1.3em;
    font-weight: 500;
    color: black;
}
.newsHeadline {
    color: black;
}


/* SECTION 4 */
.fourthRow {

}
/* RIGHT AREA */
.innerFourthRow{
    margin: 5px 0px 5px 0px;
}
.innerFourthRow h2{
  font-size: 1.9em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: red;
  text-shadow:2px 2px 0 white, 4px 4px 0 black;
  margin-top: 5px;
  margin-bottom: 15px
}
.innerFourthRow p {
  font-size: 1.3em;
  line-height: 1.3em;
  text-align: center;
  font-family: 'Kanit', monospace;
  color: black;
  /*text-shadow: 1px 1px 1px orange;*/
  font-weight: 500;
  padding-top: 15px;
}

/* FOURTH ROW AREA END */

/* FOOTER STYLES BEGIN */
.footer {
    height: 70px;
    background-color: black;
    color: white;
}
.footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 1.2em;
    font-family: 'Dosis', monospace;
    color: lightgray;
}
.footer img {
    height: 55px;
    margin-top: 5px; 
}

/* FOOTER STYLES END */
/* ---------------------------- HOME PAGE STYLES -------------------------------------------------*/





/* ----------------------------- FORMS ---------------------------------------------*/

form {
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}
form div {
    
}
form label {
    text-align: right;
}
form input {
    min-width: 200px;
    margin-bottom: 15px 15px 15px 0px;
}




/* ----------------------------- FORMS END ---------------------------------------------*/





/* NEWS PAGE STYLES */
.newsSection {
    
}
.newsSection h2 {
  font-size: 2.6em;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: orange;
  text-shadow:2px 2px 0 darkblue, 4px 4px 0 cyan;
  margin-top: 5px;
  
}
.newsSection h5 {
    font-size: 1.3em;
    font-family: 'Roboto', monospace;
    color: black;
    text-shadow: 1px 1px 1px darkgray;
}
.newsSection h4 {
  font-size: 1.2em;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: #1a237e;
  text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  margin-top: 5px;
}
.newsSection p {
  font-size: 1.0em;
  line-height: 1.1em;
  text-align: left;
  font-family: 'Dosis', monospace;
  color: black;
  text-shadow: 1px 1px 1px orange;
  font-weight: bold;
  padding-top: 5px;
}
.list-group-item {
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.newsSection img {
    height: 100px;
    
}

/* GALLERY PAGE STYLES */
.galleryDiv {
    
}

.galleryDiv h2{
  font-size: 2.6em;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: orange;
  text-shadow:2px 2px 0 darkblue, 4px 4px 0 cyan;
  margin-top: 5px;
}
.carousel-caption {
  font-size: 1.8em;
  line-height: 1.1em;
  text-align: center;
  font-family: 'Dosis', monospace;
  color: black;
  text-shadow: 1px 1px 1px orange;
  font-weight: bold;
  padding-top: 5px;
}


/* HISTORY DIV */
.historyDiv img {
    height: 150px;
}
.historyDiv h2 {
  font-size: 2.8em;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: orange;
  text-shadow:2px 2px 0 darkblue, 4px 4px 0 cyan;
  margin-top: 5px;
    text-align: center;
}
.historyDiv p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: left;
  font-family: 'Dosis', monospace;
  color: black;
  text-shadow: 1px 1px 1px orange;
  font-weight: bold;
  padding-top: 5px;
}
.historyDiv h3 {
    font-size: 1.5em;
}
.historyDiv {
    
}

/* LOGIN DIV */
.loginDiv {
    
}
.loginDiv h2 {
  font-size: 2.6em;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: orange;
  text-shadow:2px 2px 0 darkblue, 4px 4px 0 cyan;
  margin-top: 5px;
  text-align: left;
}
.loginDiv h5 {
    font-size: 1.3em;
    font-family: 'Roboto', monospace;
    color: black;
    text-shadow: 1px 1px 1px darkgray;
    text-align: left;
}
.loginDiv form {
    
    
    
}
.loginDiv input {
    
}
.loginDiv button {
    margin-top: 15px;
    background-color: black;
    color: cyan;
}
.loginDiv button:hover {
    background-color: cyan;
    color: black;
}


/* PLAYERS AREA */
.playersDiv {
    
}
.logo {
    height: 60px;
}
.playersDiv h2 {
    
}
.playersDiv h5 {
    
}
.playersDiv h3 {
    
    
}
.playersDiv p {
    
}
.playersDiv div {
    
}
.playerCapsule img {
    height: 100px;
    border: 1px solid white;
}
.playerCapsule {
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 25px 5px 5px 5px;
    border: 1px solid white;
}












