@import url(https://fonts.googleapis.com/css?family=Roboto|Poiret+One|Lobster|Limelight|Sansita+One|Roboto+Slab:300|Montez);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700|Kanit:400,800);
/* EXTRAS */
.teamBrand {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px cyan;
  color: #1a237e;
  border: 2px solid cyan;
  padding: 3px;
  background-color: #cfd8dc;
}

/* MAIN STYLES */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* HOME PAGE STYLES */
.madbarHeading {
  font-family: 'Kanit', sans-serif;
  font-size: 5.8em;
  color: #12237e;
  font-weight: 900;
  text-shadow: 1px 1px 6px cyan;
  text-align: center;
}
.madbarColumn {
}
.madbarColumn p {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  line-height: 1.3em;
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
  color: #12237e;
}
.carouselColumn {
  margin: 0 auto;
}
.madbarColumn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.carousel {
  margin: 0 auto;
  width: 640px;
}
.madbarFront {
  margin: 0 auto;
  background-color: #f2f2f2;
  width: 65%;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.39);
}
.madbarFront p {
  width: 65%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 1.3em;
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
  color: #12237e;
}

.homeContainer {
  background: url('../img/jumboPic.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 650px;
}

.homeTitle {
  font-family: 'Kanit', sans-serif;
  font-size: 9.8em;
  color: #12237e;
  font-weight: 900;
  text-shadow: 1px 1px 6px cyan;
  text-align: center;
  position: relative;
  top: 300px;
  z-index: 1;
}
