@import url(https://fonts.googleapis.com/css?family=Roboto|Poiret+One|Lobster|Limelight|Sansita+One|Roboto+Slab:300|Montez);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700|Kanit:400,800);

body {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
main {
  margin-top: 50px;
}

/* EXTRAS */
.teamBrand {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px cyan;
  color: #1a237e;
  border: 2px solid cyan;
  padding: 3px;
  background-color: #cfd8dc;
}

/* NAVBAR STYLES */
.customNav {
  background-color: rgba(0, 0, 0, 0.5);
}

.panel-heading {
  background-color: black;
}
.panel-body {
  background-color: white;
  color: #1a237e;
  font-family: 'Dosis', cursive;
  font-size: 1.2em;
  width: 100%;
}
.panel-title {
  color: cyan;
  font-family: 'Lobster', fantasy;
  font-size: 1.3em;
}

/* GALLERY STYLES */



/* NEWS TEMPLATE STYLES */


/* MEDIA QUERIES */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 320px) {
  .homeDiv h1 {
    font-size: 2.8em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color:#1a237e;
    text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  }

  .homeDiv h5 {
    font-size: 1.7em;
    text-align: center;
    font-family: 'Montez', monospace;
    color: orange;
    text-shadow: black 2px 2px 1px;
    font-weight: bold;
  }

  .homeDiv p {
    font-size: 15px;
  }
  .logoImage {
    width: 80px;
    height: 100px;
    margin-left: 29%;
  }
}

@media (min-width: 480px) {
  .homeDiv h1 {
    font-size: 3.5em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color:#1a237e;
    text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  }

  .homeDiv h5 {
    font-size: 1.8em;
    text-align: center;
    font-family: 'Montez', monospace;
    color: orange;
    text-shadow: black 2px 2px 1px;
    font-weight: bold;
  }

  .homeDiv p {
    font-size: 15px;
  }
  .logoImage {
    width: 80px;
    height: 100px;
    margin-left: 32%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 700px) {

  .homeDiv h1 {
    font-size: 3.4em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color:#1a237e;
    text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  }

  .homeDiv h5 {
    font-size: 1.8em;
    text-align: center;
    font-family: 'Montez', monospace;
    color: orange;
    text-shadow: black 2px 2px 1px;
    font-weight: bold;
  }

  .homeDiv p {
    font-size: 16px;
  }
  .logoImage {
    width: 80px;
    height: 100px;
    margin-left: 40%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1000px) {

  .homeDiv h1 {
    font-size: 3.8em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color:#1a237e;
    text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  }

  .homeDiv h5 {
    font-size: 2.1em;
    text-align: center;
    font-family: 'Montez', monospace;
    color: orange;
    text-shadow: black 2px 2px 1px;
    font-weight: bold;
  }

  .homeDiv p {
    font-size: 17px;
  }
  .logoImage {
    width: 80px;
    height: 100px;
    margin-left: 40%;
  }

}

@media (min-width:1240px) {

  .homeDiv h1 {
    font-size: 4.9em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color:#1a237e;
    text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  }

  .homeDiv h5 {
    font-size: 2.4em;
    text-align: center;
    font-family: 'Montez', monospace;
    color: orange;
    text-shadow: black 2px 2px 1px;
    font-weight: bold;
  }

  .homeDiv p {
    font-size: 17px;
  }

  .logoImage {
    width: 80px;
    height: 100px;
    margin-left: 40%;
  }

}






/* HISTORY TEMPLATE STYLES*/

/* NEW HOME STYLES */
.jumboDiv{
  padding: 0px 20px 10px 20px;
}
.jumbotron {
  background-image: url('../img/jumboPic.jpg');
}
.jumbotron h1 {
  font-size: 4.7em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color:#1a237e;
  text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
}
.jumbotron h4 {
  font-size: 2.4em;
  text-align: center;
  font-family: 'Montez', monospace;
  color: orange;
  text-shadow: black 2px 2px 1px;
  font-weight: bold;
}
.jumbotron p {
    text-align: center;
}
.btn-info {
    background-color: black;
    color: cyan;
}
.btn-info:hover {
    background-color: cyan;
    color: black;
}

/* second section */
.leftDiv {
    text-align: center;

}
.leftDiv h2 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color:#1a237e;
  text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  margin-top: 5px;
}
.leftDiv h5 {
  font-size: 1.4em;
  line-height: 1.2em;
  text-align: left;
  font-family: 'Dosis', monospace;
  color: black;
  text-shadow: 1px 1px 1px orange;
  font-weight: bold;
}
.centerDiv {
    text-align: center;
}
.centerDiv h2 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color:#1a237e;
  text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  margin-top: 5px;
}
.centerDiv h5 {
  font-size: 1.4em;
  line-height: 1.2em;
  text-align: left;
  font-family: 'Dosis', monospace;
  color: black;
  text-shadow: 1px 1px 1px orange;
  font-weight: bold;
}
.rigthDiv {
    text-align: center;
}
.rightDiv h2 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color:#1a237e;
  text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  margin-top: 5px;
}
.rightDiv h5 {
  font-size: 1.4em;
  line-height: 1.2em;
  text-align: left;
  font-family: 'Dosis', monospace;
  color: black;
  text-shadow: 1px 1px 1px orange;
  font-weight: bold;
}
.imgSize {
    height: 200px;
    width: 240px;
    border-radius: 10%;
}

/* SECTION 3 */
.newsBar {
    margin-top: 20px;
    
}

/* SECTION 4 */
.row2right {
  height: 200px;
}
.row2right h2 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color:#1a237e;
  text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  margin-top: 5px;
}

.row2left {  
  padding-bottom: 50px;
}
.row2left h2 {
  font-size: 2.1em;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color:#1a237e;
  text-shadow:2px 2px 0 lightblue, 4px 4px 0 cyan;
  margin-top: 5px;
  padding-bottom: 15px;
}
.row2left p {
  font-size: 1.4em;
  line-height: 1.2em;
  text-align: left;
  font-family: 'Dosis', monospace;
  color: black;
  text-shadow: 1px 1px 1px orange;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}



