<div class="container-fluid">
<div class="row">
<div class="col-lg-8 col-md-offset-2 innerDiv">
<h2>MadBar United Menu</h2>
<h5>Using this menu the user will be able to make any changes to the various pages within the
    Madbar United website. Some of the changes will impact the database for example adding and removing 
    players and adding new headlines.</h5>
<!-- DISPLAY FORMS ON 1 SIDE AND INFORMATION ON THE OTHER -->  

<!-- players area / add players, remove players -->
<div class="col-md-6">
<h5>Add a players</h5>
<form class="theforms"
      name="myform"
      ng-submit="addPlayer()"
      novalidate>
    
<div class="inputwrapper">
<label class="control-label pull-left" for="name">Name</label>
<input type="text" name="playername" ng-model="playername" ng-required="true">
</div>
    
<div class="inputwrapper">
<label class="control-label pull-left" for="position">Position</label>
<input type="text" name="playerposition" ng-model="playerposition" ng-required="true">
</div>
    
<div class="inputwrapper">
<label class="control-label pull-left" for="nationality">Nationality</label>
<input type="text" name="playernationality" ng-model="playernationality" ng-required="true">
</div>
    
<div class="inputwrapper">
<label class="control-label pull-left" for="number">Number</label>
<input type="text" name="playernumber" ng-model="playernumber" ng-required="true">
</div>
    
<div class="inputwrapper">
<label class="control-label pull-left" for="status">Status</label>
<input type="text" name="playerstatus" ng-model="playerstatus" ng-required="true">
</div>
    

<button type="submit" class="btn btn-lg hvr-pulse" ng-disabled="myform.$invalid">Add Player</button>
</form>
</div>

    <!-- display players -->
<div class="col-md-6">
<h5>Current Roster</h5>
<h5></h5>
<div ng-repeat="(key, player) in players">
<p>
{{ player.name }}
{{ player.position }}
{{ player.nationality }}
{{ player.number }}
{{ player.status }}
</p>
</div>
</div> 

    
    
</div><!--col-lg-8 col-md-offset-2-->
</div><!-- 1st row -->
</div><!-- 1st container fluid -->
    
<!--
<div class="container-fluid">
<h4>Add a player</h4>
<h5>Please enter player information</h5>
<form class=""
      name="myform"
      ng-submit="addPlayer()"
      novalidate>
    
<div class="inputwrapper">
<input type="text" name="playername"
           placeholder="Player name"
           ng-model="playername" ng-required="true">
</div>
<div class="inputwrapper">
<input type="text" name="playerposition"
           placeholder="Player position"
           ng-model="playerposition" ng-required="true">
</div>
<div class="inputwrapper">
<input type="text" name="playernationality"
           placeholder="Player nationality"
           ng-model="playernationality" ng-required="true">
</div>
<div class="inputwrapper">
<input type="text" name="playernumber"
           placeholder="Player number"
           ng-model="playernumber" ng-required="true">
</div>
<div class="inputwrapper">
    <input type="text" name="playerstatus"
           placeholder="Player status"
           ng-model="playerstatus" ng-required="true">
</div>
<br>
<button type="submit" class="btn btn-lg hvr-pulse" ng-disabled="myform.$invalid">Add Player</button>
</form>
</div>
</div>
                
<!-- THIS WILL BE THE HOME NEWS CONTROL SECTION -->
<!--
<h4>Add news to the home page</h4>
<h5>Type your headline title</h5>  
<form class=""
      name="myform"
      ng-submit="addHeadline()"
      novalidate>
<div class="inputwrapper">
<input type="text" name="headlineName"
       placeholder="Type your headline name"
       ng-model="headlineName" ng-required="true">
</div>        
<div class="inputwrapper">
<input type="text" name="headlineContent"
       placeholder="Type headline content"
       ng-model="headlineContent" ng-required="false">
</div>
<button type="submit" class="btn btn-lg hvr-pulse" ng-disabled="myform.$invalid">Add Headline</button>
</form>
    
    
    
<h4>Add news to the home page</h4>
<h5>Type your headline title</h5>  
<form class=""
      name="myform"
      ng-submit="addStaff()"
      novalidate>
<div class="inputwrapper">
<input type="text" name="staffName"
       placeholder="Type your headline name"
       ng-model="staffName" ng-required="true">
</div>        
<div class="inputwrapper">
<input type="text" name="staffRole"
       placeholder="Type headline content"
       ng-model="staffRole" ng-required="false">
</div>
<div class="inputwrapper">
<input type="text" name="staffTenure"
       placeholder="Type headline content"
       ng-model="staffTenure" ng-required="false">
</div>
<button type="submit" class="btn btn-lg hvr-pulse" ng-disabled="myform.$invalid">Add Headline</button>
</form>
    
<h4>Add player of the week</h4>
<h5>Type your pow title</h5>  
<form class=""
      name="myform"
      ng-submit="addPow()"
      novalidate>
<div class="inputwrapper">
<input type="text" name="powName"
       placeholder="Type your pow name"
       ng-model="powName" ng-required="true">
</div> 
    
<div class="inputwrapper">
<input type="text" name="powPosition"
       placeholder="Type pow position"
       ng-model="powPosition" ng-required="false">
</div>
    
<div class="inputwrapper">
<input type="text" name="powComment"
       placeholder="Type pow comment"
       ng-model="powComment" ng-required="false">
</div>
    
<button type="submit" class="btn btn-lg hvr-pulse" ng-disabled="myform.$invalid">Add Player of the Week</button>
</form> 
    
<form name="myform" ng-submit="addImage()">
<input type="text" name="imageName" ng-model="imageName">
<button type="submit" class="btn btn-lg hvr-pulse" ng-disabled="myform.$invalid">Add Picture</button>    
</form> 
    
          
</div>

<div>  
<h4>MadBar United Headlines</h4>
<h5>Headlines should appear here</h5>
<div class="homeDiv" ng-repeat="(key, headline) in headlines">
<p>
{{ headline.name }}
{{ headline.content }}
{{ headline.date | date : format : timezone }}
</p>
</div>
</div>
    
<div>    
<h4>MadBar United Player of the Week</h4>
<h5>Player should appear here</h5>
<div class="homeDiv" ng-repeat="(key, pow) in pows">
<p>
{{ pow.name }}
{{ pow.position }}
{{ pow.comment }}
</p>
</div>
</div>
    
<div>
<h4>MadBar United Player of the Week</h4>
<h5>Player should appear here</h5>
<div class="homeDiv" ng-repeat="(key, staff) in staffs">
<p>
{{ staff.name }}
{{ staff.role }}
{{ staff.tenure }}
</p>
</div>
</div>
   
<div>  
<h4>MadBar United Images</h4>
<h5>Images should appear here</h5>
<div class="homeDiv" ng-repeat="(key, image) in images">
<p>
<img src="{{ image.name }}">
</p>
</div>
</div>
    
</div>
</div>
</div><!--col-lg-8 col-md-offset-2-->
<!--
</div><!-- 1st row -->
    <!--
</div><!-- 1st container fluid -->
