<div class="container-fluid">
<div class="row">
<div class="container main">
    <div class="row">
        <div class="four columns portfolio">
            <a class="image-link" href="img/horseshoebend.jpg"><img src="img/horseshoebend.jpg"></a>
        </div>
        <div class="four columns portfolio">
            <a class="image-link" href="img/azranch.jpg"><img src="img/azranch.jpg"></a>
        </div>
        <div class="four columns portfolio">
            <a class="image-link" href="img/grandcanyon1.jpg"><img src="img/grandcanyon1.jpg"></a>
        </div>
    </div>

    <div class="row">
        <div class="four columns portfolio">
            <a class="image-link" href="img/grandcanyon2.jpg"><img src="img/grandcanyon2.jpg"></a>
        </div>
        <div class="four columns portfolio">
            <a class="image-link" href="img/lakepowell.jpg"><img src="img/lakepowell.jpg"></a>
        </div>
        <div class="four columns portfolio">
            <a class="image-link" href="img/sedona.jpg"><img src="img/sedona.jpg"></a>
        </div>
    </div>

    <div class="row">
        <div class="four columns portfolio">
            <a class="image-link" href="img/grandcanyon3.jpg"><img src="img/grandcanyon3.jpg"></a>
        </div>
        <div class="four columns portfolio">
            <a class="image-link" href="img/lakepowell2.jpg"><img src="img/lakepowell2.jpg"></a>
        </div>
        <div class="four columns portfolio">
            <a class="image-link" href="img/monumentvalley.jpg"><img src="img/monumentvalley.jpg"></a>
        </div>
    </div>
</div>
</div>    
</div>
