<div class="container">
  <!-- FIRST ROW -->
  <!--
<div class="row">
  <div class="madbarColumn">
    <h1 class="madbarHeading">MadBar FC</h1>
    <img src="img/teamLogo.png" alt="madbar logo"/>
      <p>MadBar Fc is an amateur soccer team from Phoenix, AZ and currently
      playing in the <a ng-href={{"http://www.smallgoalsoccer.com"}}>Small
      Goals Soccer league</a> north side division. The team is made up of
      talented players with supernatural skills!</p>
    </div>
  </div>
-->
<!--
<div class="row madbarFront">
  <h1 class="madbarHeading">MadBar FC</h1>
  <p>MadBar Fc is an amateur soccer team from Phoenix, AZ and currently
  playing in the <a ng-href={{"http://www.smallgoalsoccer.com"}}>Small
  Goals Soccer league</a> north side division. The team is made up of
  talented players with supernatural skills!</p>
</div>
-->
<div class="jumbotron">
  <h1 class="madbarHeading">MadBar FC</h1>
</div>
</div>
