<div class="container-fluid">
  <img src="img/jumboPic.jpg" id="bg" alt="">
  <div class="row">
    <div class="col-xs-4 col-md-4"></div>
    <div class="col-xs-4 col-md-4 madTitle">

      <h1 class="">MadBar FC</h1>
      <h4>Amateur Soccer Team</h4>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          <h2>Panel content</h2>
        </div>
      </div>

    </div>
    <div class="col-xs-4 col-md-4"></div>
</div>

</div>
