<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2 playersDiv">
    
      <img src="img/teamLogo.png" class="pull-right logo"></img>      
      <h2>MadBar FC</h2>
      <h5>Players</h5> 
      <div class="row">
          
        <div ng-repeat="image in playerImages">
        <div class="col-sm-3 col-md-4" ng-repeat="(key, player) in players">
        <div class="thumbnail playerCapsule">
    
        <img ng-src="../img/{{ image.shortname }}.jpeg" alt="{{image.name}}">
        
        <div class="caption">
        <!-- SHOW NAME ONLY IF IMAGE NAME AND PLAYER NAME ARE THE SAME -->
        <p ng-show="(player.name === "Adrian Rodriguez")">{{player.name}}</p>
        <p ng-show="(player.position === image.position)">{{player.position}}</p>
        <p ng-show="(player.nationality === image.nationality)">{{player.nationality}}</p>
        <p ng-show="(player.name === image.squadNumber)">{{player.number}}</p>
        <p ng-show="(player.status === image.status)">{{player.status}}</p>
        <p><a href="#" class="btn btn-primary hvr-pulse" role="button">Button</a></p>
        </div>
        </div>
        </div>
          </div>

          
      </div>
      
    
    

</div>    
</div>
</div>

<!--
    <ion-list ng-controller="PlayersController">
    <a ng-href="#/app/profile/{{players.indexOf(player)}}" ng-repeat="player in players | filter: query" class="item item-avatar-left playersSection">
      <img ng-src="../img/{{ player.shortname }}.jpeg" alt="{{ player.name }}" />
      <h2>{{ player.name | uppercase }}</h2>
      <h3>{{ player.position | uppercase }}</h3>
    </a>
  </ion-list>

// player list controller
.controller('PlayersController', function($scope, $http, $stateParams) {
    $http.get('team.json').success(function(data) {
      $scope.players = data;

    });
})

ng-repeat="(key, player) in players"

    <p>{{ player.name }}
    {{ player.position }}
    {{ player.nationality }}
    {{ player.number }}
    {{ player.status }}</p>

ng-src="../img/{{ player.shortname }}.jpeg"
-->

