<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2 newsSection">
    <section>
    <img src="img/teamLogo.png" alt="team logo" class="pull-right newsLogo"></img>
    <h2>News</h2>
    <h5>Stay up to date with all the latest MadBar FC info!</h5>
    </section>
    <div>
    <h5>Latest MadBar FC news</h5>
    <div class="list-group">
    
    <div class="list-group-item">
    <h4 class="list-group-item-heading">New Player</h4>
    <p class="list-group-item-text">
    MadBar FC is proud to welcome Luis Marquez as their new forward. After a
    long wait and arduos work from our recruiters, we have finally found 
    our special one.
    </p>
    </div>
        
    <div class="list-group-item">
    <h4 class="list-group-item-heading">New Player</h4>
    <p class="list-group-item-text">
    MadBar FC is proud to welcome Luis Marquez as their new forward. After a
    long wait and arduos work from our recruiters, we have finally found 
    our special one.
    </p>
    </div>
        
    <!--</a>-->
    </div>
    </div>
</div>
</div>
</div>


